!
! template: bgpd/templates/msft.general/v6.smartswitch.azd/peer-group.conf.j2
!
{% import 'common/functions.conf.j2' as common %}
{% set lo6_ipv6 = common.get_ipv6_loopback_address(CONFIG_DB__LOOPBACK_INTERFACE, "Loopback6") | ip %}
  neighbor TIER1_V6 peer-group
  address-family ipv6 unicast
!
{% if lo6_ipv6 is not none %}
    network {{ lo6_ipv6 }}/128
{% endif %}
!
{% if lo6_ipv6 is not none %}
    aggregate-address {{ lo6_ipv6 }}/64 summary-only
{% endif %}
!
    neighbor TIER1_V6 activate
    neighbor TIER1_V6 soft-reconfiguration inbound
    neighbor TIER1_V6 route-map FROM_TIER1_V6 in
    neighbor TIER1_V6 route-map ADVERTISE_AZURE_TYCOON_LOOPBACKS out
    maximum-paths 64
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.smartswitch.azd/peer-group.conf.j2
!
