!
! template: bgpd/templates/msft.general/v6.smartswitch.azd/policy.conf.j2
!
{% import 'common/functions.conf.j2' as common %}
{% set lo0_ipv6 = common.get_ipv6_loopback_address(CONFIG_DB__LOOPBACK_INTERFACE, "Loopback0") | ip %}
{% set lo6_ipv6 = common.get_ipv6_loopback_address(CONFIG_DB__LOOPBACK_INTERFACE, "Loopback6") | ip %}
!
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
ipv6 prefix-list STD_TYCOON_LOOPBACK seq 10 permit {{ lo0_ipv6 }}/64
!
{% if lo6_ipv6 is not none %}
ipv6 prefix-list STD_TYCOON_LOOPBACK seq 20 permit {{ lo6_ipv6 }}/64
{% endif %}
!
bgp as-path access-list TIER2_LIMIT_ASN seq 5 permit ^[0-9]+_[0-9]*$
!
route-map ADVERTISE_AZURE_TYCOON_LOOPBACKS permit 20
  match ipv6 address prefix-list STD_TYCOON_LOOPBACK
  set community 8075:10451
!
route-map FROM_TIER1_V6 permit 1
  set ipv6 next-hop prefer-global
  on-match next
!
route-map FROM_TIER1_V6 permit 10
  match as-path TIER2_LIMIT_ASN
!
route-map FROM_TIER1_V6 permit 100
!
ipv6 nht resolve-via-default
!
! end of template: bgpd/templates/msft.general/v6.smartswitch.azd/policy.conf.j2
!
