!
! template: bgpd/templates/msft.general/v6.spine.leaf/policy.conf.j2
!
bgp community-list standard LEAK_COMMUNITY permit 8075:10400
bgp community-list standard INREGION_LEAK_COMMUNITY permit 8075:8848
!
bgp as-path access-list T2_LOOPBACK permit ^$
!
ipv6 prefix-list DEFAULT_IPV6 permit ::/0
!
route-map FROM_TIER1_V6 permit 100
 set ipv6 next-hop prefer-global
 on-match next
!
route-map FROM_TIER1_V6 permit 200
!
route-map TO_TIER1_V6 permit 100
  call CHECK_IDF_ISOLATION
  match ipv6 address prefix-list DEFAULT_IPV6
!
route-map TO_TIER1_V6 permit 200
  call CHECK_IDF_ISOLATION
  match community LEAK_COMMUNITY
!
route-map TO_TIER1_V6 permit 300
  call CHECK_IDF_ISOLATION
  match community INREGION_LEAK_COMMUNITY
!
route-map TO_TIER1_V6 permit 400
  call CHECK_IDF_ISOLATION
  match as-path T2_LOOPBACK
!
route-map TO_TIER1_V6 deny 1000
!
! end of template: bgpd/templates/msft.general/v6.spine.leaf/policy.conf.j2
!
