[group:dhcp-relay]
{# The DHCPv6 relay agent is always started so DHCPv6 relay configuration added at runtime is applied without a container restart #}
{% if 'has_sonic_dhcpv4_relay' in DEVICE_METADATA['localhost'] and DEVICE_METADATA['localhost']['has_sonic_dhcpv4_relay'] == 'True' -%}
programs=dhcprelayd,dhcp6relay,dhcp4relay
{% else -%}
programs=dhcprelayd,dhcp6relay
{% endif %}
