{# Append the DHCPv6 agent. It is always started so DHCPv6 relay configuration
   added at runtime is applied by its config monitor without restarting the
   dhcp_relay container. #}
[program:dhcp6relay]
command=/usr/sbin/dhcp6relay
{#- Dual ToR Option #}
{% if 'subtype' in DEVICE_METADATA['localhost'] and DEVICE_METADATA['localhost']['subtype'] == 'DualToR' %} -u Loopback0 {% endif %}

priority=3
autostart=false
autorestart=false
stdout_logfile=NONE
stdout_syslog=true
stderr_logfile=NONE
stderr_syslog=true
dependent_startup=true
dependent_startup_wait_for=start:exited


