{% from "common/functions.conf.j2" import get_ipv4_loopback_address %}

!
! template: bgpd/templates/msft.general/v4.vm/instance.conf.j2
!
{% set baremetal_v4 = CONFIG_DB__DEVICE_METADATA['localhost']['baremetal_v4'] %}

! It is calling get_ipv4_loopback_address, but the method is generic enough
! to get IP from an interface in any table
  bgp router-id {{baremetal_v4}}
  neighbor {{ neighbor_addr }} remote-as {{ bgp_session['asn'] }}
  neighbor {{ neighbor_addr }} description {{ bgp_session['name'] }}
  neighbor {{ neighbor_addr }} ebgp-multihop 255
  neighbor {{ neighbor_addr }} update-source eth0

  address-family ipv4 unicast
    neighbor {{ neighbor_addr}} route-map FROM_TIER0_V4 in
    neighbor {{ neighbor_addr }} route-map TO_TIER0_V4 out
    neighbor {{ neighbor_addr }} soft-reconfiguration inbound
    neighbor {{ neighbor_addr }} activate
    exit-address-family

  address-family ipv6 unicast
    neighbor {{ neighbor_addr }} route-map FROM_TIER0_V6 in
    neighbor {{ neighbor_addr }} route-map TO_TIER0_V6 out
    neighbor {{ neighbor_addr }} soft-reconfiguration inbound
    neighbor {{ neighbor_addr }} activate
    exit-address-family

!
! end of template: /gpd/templates/msft.general/v4.vm/instance.conf.j2
!
