{# Get sai.profile based on vxlan_profile. Vxlan's yml file is the default one #}
{%- set sai_profile_contents = 'SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/ds4100-16x2x400G-vxlan.yml' -%}
{%- if DEVICE_METADATA is defined and DEVICE_METADATA['localhost'] is defined -%}
{%-     if DEVICE_METADATA['localhost']['vxlan_profile'] is defined -%}
{%-         set vxlan_profile = DEVICE_METADATA['localhost']['vxlan_profile'] -%}
{%-         if 'enable' in vxlan_profile.lower() %}
{%              set sai_profile_contents = 'SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/ds4100-16x2x400G-vxlan.yml' -%}
{%-         else %}
{%-             set sai_profile_contents = 'SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/ds4100-16x2x400G.yml' -%}
{%-         endif %}
{%-     else %}
{%-         set sai_profile_contents = 'SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/ds4100-16x2x400G-vxlan.yml' -%}
{%-     endif %}
{%- endif %}
{# Write the contents of sai_profile_contents to sai.profile file #}
{{ sai_profile_contents }}
SAI_NUM_ECMP_MEMBERS=64
SAI_NUM_FLOW_BASED_MTP=8
SAI_NUM_RX_MTP_COUNT=7
SAI_NUM_TX_MTP_COUNT=4
SAI_NUM_BOTH_MTP_COUNT=3
SAI_NUM_RX_MTP_CT_IN_COMB=4
SAI_NUM_TX_MTP_CT_IN_COMB=3
SAI_NUM_MTP_CT_IN_COMB=7
