!
! template: bgpd/templates/msft.general/v4.mgmtleaf.mgmtspine/policy.conf.j2
!
ip prefix-list DEFAULT_IPV4 seq 5 permit 0.0.0.0/0
!
ip as-path access-list LOCALROUTES permit ^$
!
ip community-list standard FABRIC_INFRA_COMMUNITY permit 8075:316
!
route-map TO_TIER2_V4 permit 100
  match ip address prefix-list DEFAULT_IPV4
  set community no-export additive
!
{% if neighbor_type == 'MgmtSpineRouter' %}
route-map TO_TIER2_V4 permit 200
  match as-path LOCALROUTES
  set community 8075:316 additive
!
route-map TO_TIER2_V4 permit 1000
  set community 8075:316 additive
{% else %}
route-map TO_TIER2_V4 permit 1000
{% endif %}
!
route-map FROM_TIER2_V4 permit 1000
!
! end of template: bgpd/templates/msft.general/v4.mgmtleaf.mgmtspine/policy.conf.j2
!
