[Unit]
Description=Update logrotate configuration

[Service]
Type=oneshot
ExecStart=/usr/bin/logrotate-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
