!
! template: bgpd/templates/msft.general/v6.tor.backend/policy.conf.j2
!
bgp community-list standard ComputeAI_BackEnd permit 8075:9314
!
ipv6 prefix-list DEFAULT_IPV6 permit any
!
route-map FROM_FE_TIER0_V6 permit 10
   match ipv6 address prefix-list DEFAULT_IPV6
!
route-map FROM_FE_TIER0_V6 deny 100
!
route-map TO_FE_TIER0_V6 permit 10
   match ipv6 address prefix-list PL_LoopbackV6
   set community 8075:9314
!
route-map TO_FE_TIER0_V6 permit 20
   match community ComputeAI_BackEnd
!
route-map TO_FE_TIER0_V6 deny 100
!
! end of template: bgpd/templates/msft.general/v6.tor.backend/policy.conf.j2
!