!
! template: bgpd/templates/msft.general/v6.mgmtleaf.mgmtspine/policy.conf.j2
!
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
!
bgp as-path access-list LOCALROUTES permit ^$
!
route-map TO_MA_PATH_V6 permit 100
  match ipv6 address prefix-list DEFAULT_IPV6
  set community no-export additive
!
route-map TO_MA_PATH_V6 permit 1000
!
route-map FROM_MA_PATH_V6 permit 100
  set ipv6 next-hop prefer-global
  on-match next
!
route-map FROM_MA_PATH_V6 permit 1000
!
! end of template: bgpd/templates/msft.general/v6.mgmtleaf.mgmtspine/policy.conf.j2
!
