{% set is_fabric_asic = 0 %}
{% if DEVICE_METADATA.localhost.switch_type %}
{% if DEVICE_METADATA.localhost.switch_type == "fabric" %}
{% set is_fabric_asic = 1 %}
{% endif %}
{% endif %}
{% set dash_offload_enabled = 0 %}
{% if DEVICE_METADATA.localhost.subtype %}
{% if DEVICE_METADATA.localhost.subtype == "SmartSwitch" %}
{% if "nvidia" in DEVICE_METADATA.localhost.platform %}
{% set dash_offload_enabled = 1 %}
{%- endif %}
{%- endif %}
{%- endif %}
program:orchagent
{% if is_fabric_asic == 0 %}
program:portsyncd
program:neighsyncd
program:fdbsyncd
program:vlanmgrd
program:intfmgrd
program:portmgrd
program:fabricmgrd
program:buffermgrd
program:vrfmgrd
program:nbrmgrd
program:vxlanmgrd
program:coppmgrd
program:tunnelmgrd
{% if dash_offload_enabled == 1 %}
program:dashoffloadmanager
{%- endif %}
{%- endif %}
