!
! template: bgpd/templates/msft.general/v6.tor.ai.backend/peer-group.conf.j2
!
  neighbor BE_TIER1_V6 peer-group
  address-family ipv6 unicast
    neighbor BE_TIER1_V6 activate
    neighbor BE_TIER1_V6 soft-reconfiguration inbound
    neighbor BE_TIER1_V6 route-map FROM_BE_TIER1_V6 in
    neighbor BE_TIER1_V6 route-map TO_BE_TIER1_V6 out
    neighbor BE_TIER1_V6 send-community
    neighbor BE_TIER1_V6 maximum-prefix 12000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.tor.ai.backend/peer-group.conf.j2
!
