!
! template: bgpd/templates/msft.general/v6.mgmtspine/policy.conf.j2
!
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
!
bgp as-path access-list LOCALROUTES permit ^$
!
ipv6 prefix-list LOOPBACK0_V6 seq 5 permit $Loopback0IpSummary64V6$
!
ipv6 prefix-list AGGREGATE_ROUTES_V6 seq 5 permit ::1/128
!
ipv6 prefix-list AGGREGATE_CONTRIBUTING_ROUTES_V6 seq 5 permit ::1/128
!
route-map TO_{{ peer_group_type }} permit 100
  match ipv6 address prefix-list DEFAULT_IPV6
!
route-map TO_{{ peer_group_type }} permit 105
  match ipv6 address prefix-list PL_LoopbackV6
!
{% if neighbor_type in ['SpineTs'] %}
route-map TO_{{ peer_group_type }} permit 110
  match ipv6 address prefix-list AGGREGATE_ROUTES_V6
  set community 8075:8801 additive
!
route-map TO_{{ peer_group_type }} permit 120
  match ipv6 address prefix-list AGGREGATE_CONTRIBUTING_ROUTES_V6
  set community 8075:8800 additive
{% endif %}
!
route-map TO_{{ peer_group_type }} deny 1000
!
route-map FROM_{{ peer_group_type }} permit 1000
!
! end of template: bgpd/templates/msft.general/v6.mgmtspine/policy.conf.j2
!
