!
! template: bgpd/templates/msft.general/v6.mgmtspine.ma/peer-group.conf.j2
!
  neighbor MA_PATH_V6 peer-group
  address-family ipv6 unicast
    neighbor MA_PATH_V6 activate
    neighbor MA_PATH_V6 soft-reconfiguration inbound
    neighbor MA_PATH_V6 route-map FROM_MA_PATH_V6 in
    neighbor MA_PATH_V6 route-map TO_MA_PATH_V6 out
    neighbor MA_PATH_V6 send-community
    neighbor MA_PATH_V6 maximum-prefix 4000 90 warning-only
  exit-address-family
!
! end of template: bgpd/templates/msft.general/v6.mgmtspine.ma/peer-group.conf.j2
!
