!
! template: bgpd/templates/msft.general/v6.mgmtleaf.ma/policy.conf.j2
!
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
!
ipv6 prefix-list LOOPBACK0_V6 seq 5 permit $Loopback0IpSummary64V6$
!
ipv6 prefix-list AGGREGATE_ROUTES_V6 seq 5 permit ::1/128
!
ipv6 prefix-list AGGREGATE_CONTRIBUTING_ROUTES_V6 seq 5 permit ::1/128
!
route-map TO_MA_PATH_V6 deny 100
  match ipv6 address prefix-list DEFAULT_IPV6
!
route-map TO_MA_PATH_V6 permit 105
  match ipv6 address prefix-list PL_LoopbackV6
!
route-map TO_MA_PATH_V6 permit 110
  match ipv6 address prefix-list AGGREGATE_ROUTES_V6
  set community 8075:8801 additive
!
route-map TO_MA_PATH_V6 permit 120
  match ipv6 address prefix-list AGGREGATE_CONTRIBUTING_ROUTES_V6
  set community 8075:420 8075:8800 additive
!
route-map TO_MA_PATH_V6 permit 1000
!
route-map FROM_MA_PATH_V6 permit 100
  set ipv6 next-hop prefer-global
  on-match next
!
route-map FROM_MA_PATH_V6 permit 110
  match ipv6 address prefix-list DEFAULT_IPV6
!
route-map FROM_MA_PATH_V6 deny 1000
!
! end of template: bgpd/templates/msft.general/v6.mgmtleaf.ma/policy.conf.j2
!
