apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: networkdevices.sonic.k8s.io
  annotations:
    api-approved.kubernetes.io: "unapproved, experimental use only"
spec:
  group: sonic.k8s.io
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              type:
                type: string
              osVersion:
                type: string
              firmwareProfile:
                type: string
              operation:
                type: string
              operationAction:
                type: string
          status:
            type: object
            properties:
              state:
                type: string
              lastTransitionTime:
                type: string
              osVersion:
                type: string
              operationState:
                type: string
              operationActionState:
                type: string
  scope: Namespaced
  names:
    plural: networkdevices
    singular: networkdevice
    kind: NetworkDevice