[Unit]
Description=Arm watchdog for 5 minutes
After=pddf-platform-init.service
Requires=pddf-platform-init.service

[Service]
Type=oneshot
ExecStart=bash -c '\
  python -c "from sonic_platform import watchdog; watchdog.arm_from_timer()" \
'

[Install]
WantedBy=multi-user.target
