!
! template: bgpd/templates/msft.general/v6.mgmtagg/policy.conf.j2
!
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
!
bgp as-path access-list LOCALROUTES permit ^$ any
bgp as-path access-list WAN_ASNS permit _58593_ any
!
{% if peer_group_type == 'DOWNSTREAM_V6' %}
route-map TO_{{ peer_group_type }} permit 10
  match ipv6 address prefix-list DEFAULT_IPV6

route-map TO_{{ peer_group_type }} permit 20
  match as-path LOCALROUTES

route-map TO_{{ peer_group_type }} deny 1000
!
route-map FROM_{{ peer_group_type }} deny 10
  match ipv6 address prefix-list DEFAULT_IPV6

route-map FROM_{{ peer_group_type }} deny 20
  match as-path WAN_ASNS

route-map FROM_{{ peer_group_type }} permit 1000
{% else %}
route-map TO_{{ peer_group_type }} deny 10
  match ip address prefix-list DEFAULT_IPV6

route-map TO_{{ peer_group_type }} deny 20
  match as-path WAN_ASNS

route-map TO_{{ peer_group_type }} permit 1000
!
route-map FROM_{{ peer_group_type }} permit 10
  match ip address prefix-list DEFAULT_IPV6

route-map FROM_{{ peer_group_type }} permit 1000
{% endif %}
!
! end of template: bgpd/templates/msft.general/v6.mgmtagg/policy.conf.j2
!
