[Unit]
Description=dpu config db provisioning
Requires=docker.service
After=docker.service
After=dpu.service
Requires=dpu.service
After=database.service
Before=config-setup.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/dpu_provisioning.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
