Source: or-tools
Section: science
Priority: optional
Maintainer: Pavan Naregundi <pnaregundi@marvell.com>
Build-Depends: debhelper (>= 11), cmake, python3-all, dh-python
Standards-Version: 4.1.4

Package: libortools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: Google OR-Tools - Operations Research Tools
 A fast and portable software suite for combinatorial optimization.

