{% if module.path is defined %}
{% set path = module.path %}
{% else %}
{% set path = env('PLATFORM_PATH') %}
{% endif %}
{% set platform_repo = env('PLATFORM_REPO') if env('PLATFORM_REPO', '') else module.repo %}
{% set platform_ref = env('PLATFORM_REF') if env('PLATFORM_REF', '') else (module.ref if module.ref is defined else None) %}
if [ ! -d {{ path }} ]; then git clone {{ platform_repo }} {{ path }}; fi;
if [ -d {{ path }}/.git ]; then cd {{ path }} &&

{% if platform_ref %}
git checkout {{ platform_ref }} && git submodule update --init --recursive;
{% else %}
git submodule update --init --recursive;
{% endif %}

else echo "{{ path }}/.git not found"; exit 1; fi
