[Unit]
Description=AUDITD container
Requires=config-setup.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

{% if include_auditd == "y" %}
[Service]
ExecStartPre=/usr/bin/{{ docker_container_name }}.sh start
ExecStart=/usr/bin/{{ docker_container_name }}.sh wait
ExecStop=/usr/bin/{{ docker_container_name }}.sh stop
RestartSec=30
{% else %}
# This service is disabled
# No [Service] section is generated.
{% endif %}

[Install]
WantedBy=sonic.target
