{
	"version": "1.0.0",
    "package": {
        "version": "1.0.0",
        "name": "default_manifest",
        "description": "",
        "base-os": {},
        "depends": [],
        "breaks": [],
        "init-cfg": {},
        "changelog": {},
        "debug-dump": ""
    },
    "service": {
        "name": "default_manifest",
        "requires": [],
        "requisite": [],
        "wanted-by": [],
        "after": [],
        "before": [],
        "dependent": [],
        "dependent-of": [],
        "post-start-action": "",
        "pre-shutdown-action": "",
        "asic-service": False,
        "host-service": True,
        "delayed": False,
        "check_up_status": False,
        "warm-shutdown": {
            "after": [],
            "before": []
        },
        "fast-shutdown": {
            "after": [],
            "before": []
        },
        "syslog": {
            "support-rate-limit": False
        }
    },
    "container": {
        "privileged": False,
        "entrypoint": "",
        "volumes": [],
        "mounts": [],
        "environment": {},
        "tmpfs": []
    },
    "processes": [],
    "cli": {
        "mandatory": False,
        "show": [],
        "config": [],
        "clear": [],
        "auto-generate-show": False,
        "auto-generate-config": False,
        "auto-generate-show-source-yang-modules": [],
        "auto-generate-config-source-yang-modules": []
    }
}
