{% if include_dummyk8s == "y" %}
[Unit]
Description=Dummy k8s docker to test k8s deployment
Requires=config-setup.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target

[Service]
ExecStartPre=/usr/bin/{{ docker_container_name }}.sh start
ExecStart=/usr/bin/{{ docker_container_name }}.sh wait
ExecStop=/usr/bin/{{ docker_container_name }}.sh stop
RestartSec=30
# This service is disabled
# No [Service] section is generated.

[Install]
WantedBy=sonic.target
{% endif %}