[Unit]
Description=Memory Statistics Daemon
Requires=config-setup.service
After=config-setup.service
BindsTo=sonic.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/memory_statistics_service.py
Restart=always
RestartSec=5
StandardOutput=syslog+console
PIDFile=/var/run/memory_statistics_daemon.pid
EnvironmentFile=-/etc/memory_statistics.conf

[Install]
WantedBy=sonic.target
