[Unit]
Description=Global Load process.
Requires=platform_driver.service
After=platform_driver.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/platform_process.py start
ExecStop=/usr/local/bin/platform_process.py stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

