[Unit]
Description= Global Initialize platform base.
Requires=sonic-platform-init.service
After=sonic-platform-init.service
Wants=micas-platform-bootstrap.service
After=micas-platform-bootstrap.service
Wants=systemd-modules-load.service
After=systemd-modules-load.service
Before=basic.target setup_i2c.service platform_driver_sh.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/platform_base.py
RemainAfterExit=yes

[Install]
WantedBy=basic.target
