SAI_INIT_CONFIG_FILE=/usr/share/sonic/hwsku/ds5001-32x800G.yml
SAI_NUM_ECMP_MEMBERS=64

# Maximum number of flow-based Mirror-to-Port (MTP) sessions.
SAI_NUM_FLOW_BASED_MTP=8
# Maximum number of RX (ingress) MTP sessions.
SAI_NUM_RX_MTP_COUNT=6
# Maximum number of TX (egress) MTP sessions.
SAI_NUM_TX_MTP_COUNT=4
# Maximum number of sessions mirroring in both directions (ingress and egress).
SAI_NUM_BOTH_MTP_COUNT=3
# Number of RX mirror resources used in combined mode.
SAI_NUM_RX_MTP_CT_IN_COMB=5
# Number of TX mirror resources used in combined mode.
SAI_NUM_TX_MTP_CT_IN_COMB=3
# Maximum mirror session count supported in mixed-direction mode.
SAI_NUM_MTP_CT_IN_COMB=6
