[Unit]
Description=Micas USB Network Gadget Service
Documentation=https://github.com/sonic-net/SONiC/wiki/
After=systemd-modules-load.service local-fs.target platform_process.service
Wants=platform_process.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb-network-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
