!
! template: bgpd/templates/msft.general/v6.tor.fairwater.backend.frontend.canarypilot/policy.conf.j2
!
bgp community-list standard LargeComputeAI_BackEnd_Loopback seq 5 permit 13399:9314
!
ipv6 prefix-list BE_LOOPBACKS_V6_AGG seq 10 permit 2603:10b2:50a:1000::/64
ipv6 prefix-list BE_LOOPBACKS_V6_AGG seq 20 permit 2603:10b0:92b:8400::/64
ipv6 prefix-list DEFAULT_IPV6 seq 5 permit ::/0
!
route-map FROM_FE_TIER0_V6 permit 100
   match ipv6 address prefix-list DEFAULT_IPV6
!
route-map FROM_FE_TIER0_V6 permit 110
   set ipv6 next-hop prefer-global
   on-match next
!
route-map FROM_FE_TIER0_V6 deny 200
!
route-map TO_FE_TIER0_V6 permit 100
   match ipv6 address prefix-list BE_LOOPBACKS_V6_AGG
   set community 13399:9314 additive
!
route-map TO_FE_TIER0_V6 deny 110
!
! end of template: bgpd/templates/msft.general/v6.tor.fairwater.backend.frontend.canarypilot/policy.conf.j2
!