cint_reset();

bcm_mac_t mgmt_mac;

int create_copp_fp_entry(bcm_mac_t dst_mac) {
    int rv;
    bcm_mac_t dst_mac_mask = {0xff, 0xff, 0xff, 0xff, 0xff, 0xff};
    bcm_field_entry_t entry_id;
    bcm_field_group_t group_id = 1;

    rv = bcm_field_entry_create(0, group_id, &entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in creating FP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_DstMac(0, entry_id, dst_mac, dst_mac_mask);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying DstMac: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_EtherType(0, entry_id, 0x0806, 0xffff);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying EtherType: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_IpType(0, entry_id, bcmFieldIpTypeArpRequest);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying IpType: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_InterfaceClassL2(0, entry_id, 1, 1);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying InterfaceClassL2: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_action_add(0, entry_id, bcmFieldActionCopyToCpu, 0, 0);
    if (rv != BCM_E_NONE) {
        printf("Error in adding action: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_install(0, entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in installing FP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_copy(0, entry_id, &entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in copying FP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_IpType(0, entry_id, bcmFieldIpTypeArpReply);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying IpType: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_install(0, entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in installing FP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    return BCM_E_NONE;
}

int create_vfp_entry(bcm_mac_t src_mac) {
    int rv;
    bcm_field_entry_t entry_id;
    bcm_field_group_t group_id = 0x02000001;
    bcm_mac_t mac_mask = {0xff, 0xff, 0xff, 0xff, 0xff, 0xff};
    bcm_mac_t dst_mac = {0x01, 0x80, 0xc2, 0x00, 0x00, 0x00};

    rv = bcm_field_entry_create(0, group_id, &entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in creating VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_SrcMac(0, entry_id, src_mac, mac_mask);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying SrcMac: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_action_add(0, entry_id, bcmFieldActionDoNotLearn, 0, 0);
    if (rv != BCM_E_NONE) {
        printf("Error in adding action: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_prio_set(0, entry_id, BCM_FIELD_ENTRY_PRIO_HIGHEST-2);
    if (rv != BCM_E_NONE) {
        printf("Error in setting entry priority: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_install(0, entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in installing VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_copy(0, entry_id, &entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in copying VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_InPort(0, entry_id, 0, 0xffffffff);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying InPort: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_prio_set(0, entry_id, BCM_FIELD_ENTRY_PRIO_HIGHEST);
    if (rv != BCM_E_NONE) {
        printf("Error in setting entry priority: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_install(0, entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in installing VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_copy(0, entry_id, &entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in copying VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_InPort(0, entry_id, 0, 0);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying InPort: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_qualify_DstMac(0, entry_id, dst_mac, mac_mask);
    if (rv != BCM_E_NONE) {
        printf("Error in qualifying DstMac: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_action_add(0, entry_id , bcmFieldActionDoNotCheckVlan, 0, 0);
    if (rv != BCM_E_NONE) {
        printf("Error in adding action: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_prio_set(0, entry_id, BCM_FIELD_ENTRY_PRIO_HIGHEST-1);
    if (rv != BCM_E_NONE) {
        printf("Error in setting entry priority: %s\n", bcm_errmsg(rv));
        return rv;
    }

    rv = bcm_field_entry_install(0, entry_id);
    if (rv != BCM_E_NONE) {
        printf("Error in installing VFP entry: %s\n", bcm_errmsg(rv));
        return rv;
    }

    return BCM_E_NONE;
}


unsigned char char_to_val(char c) {
    if (c >= '0' && c <= '9') {
        return c - '0';
    } else if (c >= 'A' && c <= 'F') {
        return 10 + (c - 'A');
    } else {
        return 10 + (c - 'a');
    }
}

int main()
{
    char *mac_str = ARGV[1];
    int i = 0;
    int start_pos;

    for (i = 0; i < 6; i++) {
        start_pos = i * 3;
        uint8 val1 = char_to_val(mac_str[start_pos]);
        uint8 val2 = char_to_val(mac_str[start_pos + 1]);
        mgmt_mac[i] = (val1 << 4) | val2;
    }

    create_copp_fp_entry(mgmt_mac);
    //create_vfp_entry(mgmt_mac);

    return 0;
}
main();
cint_reset();
