!
bgp community-list standard FABRIC_T2_COMMUNITY  permit {{ constants.bgp.fabric_t2_community }}
route-map FROM_UPPERSPINE_V4 permit 100
!
route-map TO_UPPERSPINE_V4 deny 100
  match community FABRIC_T2_COMMUNITY
!
route-map TO_UPPERSPINE_V4 permit 200
!