#!/usr/bin/make -f

PACKAGE_PRE_NAME := sonic-platform-aspeed-nexthop
MODULE_DIRS := b27

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	python3 setup.py bdist_wheel -d $(CURDIR)

override_dh_auto_install:
	set -e
	(for mod in $(MODULE_DIRS); do \
		pkg_name=$(PACKAGE_PRE_NAME)-$${mod}; \
		device_name=arm64-nexthop_$${mod}-r0; \
		dh_installdirs -p$${pkg_name} usr/share/sonic/device/$${device_name}/; \
		dh_installdirs -p$${pkg_name} etc/obmc-console/; \
		dh_installdirs -p$${pkg_name} usr/bin/; \
		dh_install -p$${pkg_name} sonic_platform-1.0-py3-none-any.whl usr/share/sonic/device/$${device_name}/; \
		dh_install -p$${pkg_name} $${mod}/obmc-console/server.tty.conf etc/obmc-console/; \
		dh_install -p$${pkg_name} $${mod}/scripts/switch_cpu_utils.sh usr/bin/; \
	done)

override_dh_auto_test:

override_dh_clean:
	dh_clean
	rm -f *.whl
	rm -rf build dist *.egg-info
